.App {
  text-align: center;
}

.container > input,
button {
  font-size: 15px;
  padding: 10px;
}

.large-text {
  font-size: larger;
  font-weight: bold;
}

.text-large {
  font-size: larger;
}
.container2 > input,
button {
  font-size: 15px;
  padding: 10px;
}
